*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*.exe
.vs/
AddrData/.vs
*.pdb
*.manifest
*.cache
*.config/
*.msi
*.tmp
AddrTest/obj/
AddrDataTest/Obj
*.pubxml
*.targets
AddrTest/


node_modules/
AddrService/README.md
